<launch>
    <!-- 设置参数 -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="model" default="$(find robot_model)/urdf/init.xacro"/>
    <arg name="pool_shape" default="pool_shape_twoCircles.world"/>


    <!-- 启动gazebo泳池环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_model)/worlds/$(arg pool_shape)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>


    <!-- 机器人文件加载 -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- 机器人在gazebo世界中生成 -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 0.5 -urdf -model swim_bot -param robot_description" respawn="false" output="screen" />

</launch>